.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.birthday {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile__image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
